html {
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%; /* 62.5% = 10px = 1rem */
}

body {
	background-color: #ffffff;
	/* max-width: 1440px; */
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

::selection {
	background-color: rgb(17, 173, 173);
}

/* Header Navigation */
header {
	height: 100vh;
	background-color: #ffebff;
}

.header--nav {
	/* max-width: 1440px; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 12rem;
	background-color: #ffffff;
}

#logo {
	margin: 0;
}

.header--nav--list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

li {
	display: inline-block;
	padding: 1rem 3rem;
	margin: 0 6px;
	background-color: transparent;
}

li a {
	text-decoration: none;
	color: #555555;
	font-size: 1.6rem;
	font-weight: 400;
}

.btn {
	color: #ff6634;
	border: 1px solid #ff6634;
	border-radius: 4px;
	background-color: transparent;
}

#btn--cta {
	color: #ff6634;
}

.btn--full {
	color: #ffffff;
	/* border: 1px solid #ff6634; */
	border-radius: 4px;
	background-color: #ff6634;
	padding: 1.4rem 3rem;
	font-size: 1.6rem;
	font-weight: 400;
	align-self: center;
	text-align: center;
}

.btn:hover,
.btn--full:hover {
	cursor: pointer;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 3rem;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #303030;
	border-radius: 6px;
}

/* Header Hero */
.hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	/* align-self: stretch; */
	padding: 0 20rem;
	margin: 0;
	height: calc(100% - 80px);
}

.hero--content--text {
	/* width: 49rem; */
	width: 45%;
	/* margin-top: 10rem; */
	margin-top: 10%;
	z-index: 10;
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin: 0;
	color: #303030;
}

h2 {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
	color: #303030;
}

h3 {
	margin: 0;
	font-size: 1.6rem;
	font-weight: 400;
	color: #747474;
	margin-top: 1rem;
}

.input--div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.input--field {
	width: 100%;
	/* height: 50px; */
	padding: 2.2rem 2.4rem;
	margin: 3rem 0;
	color: #747474;
	border: none;
	outline: none;
	border-radius: 6px;
}

::placeholder {
	color: #dedede;
	font-size: 1.6rem;
}

.btn--search {
	/* margin-left: -12rem; */
	margin-left: -24%;
}

.hero--content--text p {
	font-size: 1.6rem;
	font-weight: 400;
	color: #747474;
	margin: 0;
}

.cta--sign-in {
	color: #ff6634;
}

.hero--quote {
	margin: 6rem 0 0 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: absolute;
	bottom: 5%;
	left: 0%;
	width: 25%;
}

.hero--quote--text {
	padding: 5px;
	/* width: 36rem; */
	font-size: 1.4rem;
	font-weight: 300;
	color: #8d8d8d;
	line-height: 2rem;
}

.quote--comma {
	align-self: flex-end;
	margin-left: -5%;
}

/* What should be animated */
/*  */
.hero--img--div {
	display: flex;
	align-self: flex-end;
	/* z-index: 10; */
	height: 100%;
	width: 45%;
}

.hero--img {
	display: flex;
	align-self: flex-end;
	margin: 0;
	/* height: 50rem; */
	height: 90%;
	/* margin-right: -14rem; */
	margin-right: -20%;

	background-image: url('/images/lines.svg');
	background-position: center;
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
}

/*  */

/* Review Section */
.reviews {
	/* height: 700px; */
	background-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 0rem;
}

.reviews--heading {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.reviews--heading p {
	margin: 10px 0;
	font-size: 1.4rem;
	font-weight: 300;
	color: #8d8d8d;
}

.reviews--cards {
	margin: 0px;
	padding: 25px 0;
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.review--card {
	margin: 2rem 0rem;
	border-radius: 6px;
	width: 28%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between; /*center*/
	box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04);
}

.comment {
	padding: 1.4rem 3.2rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between; /*center*/
}

.rating {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding: 1.5rem 0;
}

.rating--value {
	font-size: 1.1rem;
	font-weight: 600;
	margin-left: 5px;
}

.comment--text {
	/* width: 24rem; */
	width: 85%;
	font-size: 1.4rem;
	font-weight: 400;
	color: #8d8d8d;
	margin-bottom: 4rem;
}

.comment--tag {
	/* width: 27rem; */
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.comment--tag-name {
	margin: 0;
	padding: 3px 12px;
	background-color: rgba(255, 102, 52, 0.05);
	color: #ff6634;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 6px;
}

.comment--tag-company {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	color: #000000;
	font-size: 1.2rem;
	font-weight: 600;
}

.comment--tag-company img {
	width: 1.2rem;
	margin-right: 8px;
}

.profile {
	background-color: #fcfcfc;
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 1.6rem 3rem;
	align-self: stretch;
}

.profile--pitcure {
	margin-right: 1.5rem;
}

.profile--detail {
	margin: 0;
}

.profile--name {
	margin: 0;
	font-size: 1.3rem;
	font-weight: 500;
	color: #6c6c6c;
}

.profile--job {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 400;
	color: #bfbfbf;
}

/* Subscribe */
.subscribe {
	background-color: #f8f8f8;
	font-size: 1.6rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 6rem 10rem 6rem 20rem;
}

.subscribe--content {
	/* width: 65rem; */
	width: 51%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.subscribe--text {
	margin: 5px 0 0;
	/* width: 55rem; */
	width: 88%;
	padding: 10px 0;
	line-height: 2.2rem;
	font-size: 1.4rem;
	font-weight: 300;
	color: #8d8d8d;
}

.input--subscribe {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

.input--email {
	/* width: 44rem; */
	width: 65%;
	/* height: 50px; */
	padding: 1.6rem 2rem;
	margin: 2rem 0;
	color: #747474;
	border: none;
	outline: none;
	border-radius: 6px;
	margin-right: 2rem;
}

.btn--submit {
	width: 10rem;
}

/* companies */
.companies {
	/* height: 100px; */
	background-color: #fefefe;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f8f8f8;
	padding: 1rem 0;
	width: 85%;
	margin: 0 auto;
}

/* Advert */
.advert {
	background-color: #ffffff;
	padding: 8rem 0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advert--group {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0;
	width: 85%;
	height: 40vh;
}

.advert--card {
	width: 30%;
	height: 100%;
	background-color: #fbfbfb;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	color: #c2c2c2;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta--banner {
	background-color: #ffebff;
	width: 85rem;
	height: 16rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	margin: 8rem auto 2rem;
	padding: 1rem 8rem;
	border-radius: 8px;

	background-image: url('/images/Rectangle_39.png');
	background-position: right;
	/* background-size: cover; */
	background-origin: content-box;
	background-repeat: no-repeat;
}

.cta--banner--text {
	color: #303030;
	font-size: 2.5rem;
	font-weight: 400;
	width: 38rem;
}

/* Footer */
footer {
	background-color: #1f2131;
	color: #e5e5e5;
	font-size: 1.6rem;
	font-weight: 400;
	padding: 5rem 22rem 2rem 16rem;
}

.footer--main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.footer--content--text {
	width: 40rem;
	/* text-align: justify; */
	font-size: 1.6rem;
	font-weight: 300;
	color: #e5e5e5;
	line-height: 2.4rem;
	margin: 10px 0;
}

.social--icons {
	width: 18rem;
	margin: 3rem 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.footer--content--cards {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	width: 45%;
}

.footer--card {
	width: 13rem;
}

h5 {
	font-size: 1.8rem;
	font-weight: 500;
	margin: 10px 0;
	padding: 0;
}

footer ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

footer ul li {
	display: inline-block;
	padding: 6px 0px;
	margin: 0;
	background-color: transparent;
	color: #e5e5e5;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.6rem;
}

footer ul li a {
	text-decoration: none;
	color: #e5e5e5;
	font-size: 1.4rem;
	font-weight: 300;
}

.copyright {
	margin: 5rem 0 0;
	padding: 0;
	color: #e5e5e5;
	font-size: 1.4rem;
	font-weight: 300;
}

@media only screen and (max-width: 1400px) {
	.hero--img--div {
		display: flex;
		align-self: flex-end;
	}
	.hero--img {
		display: flex;
		align-self: flex-end;
		margin-right: -20%;
		margin: 0;
		margin-bottom: 0%;
		height: 70%;
	}
	.reviews--cards {
		width: 80%;
	}

	.review--card {
		width: 30%;
	}

	.comment--text {
		font-size: 1.4rem;
	}

	.comment--tag-name {
		font-size: 1.2rem;
	}

	.comment--tag-company {
		font-size: 1.2rem;
	}

	.comment--tag-company img {
		width: 1.4rem;
	}

	.subscribe {
		background-color: #f8f8f8;
		font-size: 1.6rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 6rem 10rem 6rem 16rem;
	}

	.subscribe--content {
		/* width: 65rem; */
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.subscribe--text {
		width: 84%;
		padding: 10px 0;
		line-height: 2.2rem;
		font-size: 1.4rem;
	}

	.input--subscribe {
		display: flex;
		justify-content: space-between;
		margin: 0;
	}

	.input--email {
		/* width: 44rem; */
		width: 65%;
		/* height: 50px; */
		padding: 1.6rem 2rem;
		margin: 2rem 0;
		color: #747474;
		border: none;
		outline: none;
		border-radius: 6px;
	}
}

@media only screen and (max-width: 1200px) {
	.header--nav {
		padding: 0 6rem;
	}

	.hero {
		padding: 0 10rem;
		display: flex;
		/* justify-content: center; */
		align-items: center;
	}

	.hero--content--text {
		margin-top: -10%;
	}

	.reviews--cards {
		width: 90%;
	}

	.review--card {
		width: 30%;
	}

	.comment--text {
		font-size: 1.2rem;
	}

	.comment--tag-name {
		font-size: 1rem;
	}

	.comment--tag-company {
		font-size: 1rem;
	}

	.comment--tag-company img {
		width: 1.2rem;
	}

	.input--email {
		width: 36rem;
		padding: 1.6rem 2rem;
		margin: 2rem 0;
	}

	.btn--submit {
		width: 10rem;
	}

	.companies img {
		width: 14rem;
	}

	.advert {
		background-color: #ffffff;
		padding: 4rem 6rem;
	}

	.advert--group {
		width: 95%;
		height: 40vh;
	}

	.advert--card {
		font-size: 1.6rem;
	}

	.cta--banner {
		margin-top: 3rem;
		width: 70rem;
		padding: 1.2rem 6rem;
	}

	.cta--banner--text {
		color: #303030;
		font-size: 2rem;
		font-weight: 400;
		width: 38rem;
	}

	footer {
		padding: 5rem 12rem 2rem 10rem;
	}

	.social--icons {
		width: 12rem;
	}

	.social--icons img {
		width: 3.2rem;
	}

	.copyright {
		margin: 1rem 0 0;
	}

	/* .footer--content--cards {
		width: 50%;
	} */
}

@media only screen and (max-width: 992px) {
	header {
		height: 80vh;
		background-color: #ffebff;
	}

	.header--nav {
		padding: 0 4rem;
	}

	.hero {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		/* align-self: stretch; */
		padding: 0 10rem;
		margin: 0;
		height: calc(100% - 80px);
		/* width: 100vw; */
	}

	.hero--content--text {
		width: 90%;
		margin-top: 10%;
	}

	.input--div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70%;
		padding: 0;
	}

	.input--field {
		width: 100%;
		padding: 1.6rem;
	}

	h2 {
		font-size: 2rem;
	}

	.hero--quote,
	.hero--img--div {
		display: none;
	}

	.reviews--cards {
		width: 80%;
	}

	.review--card {
		width: 45%;
	}

	.comment--text {
		font-size: 1.2rem;
	}

	.comment--tag-name {
		font-size: 1rem;
	}

	.comment--tag-company {
		font-size: 1rem;
	}

	.comment--tag-company img {
		width: 1.2rem;
	}

	.subscribe {
		padding: 6rem 6rem;
	}

	.subscribe--content {
		width: 80%;
	}

	.subscribe--text {
		width: 80%;
	}

	.input--subscribe {
		display: flex;
		justify-content: space-between;
		margin: 0;
		width: 80%;
	}

	.input--email {
		/* width: 44rem; */
		width: 100%;
		/* height: 50px; */
		padding: 1.6rem 2rem;
		margin: 2rem 0;
		color: #747474;
		border: none;
		outline: none;
		border-radius: 6px;
		margin-right: 2rem;
	}

	.btn--submit {
		width: 6rem;
	}

	.companies img {
		width: 10rem;
	}

	.advert {
		padding: 4rem 4rem;
	}

	.advert--group {
		width: 95%;
		height: 35vh;
	}

	.advert--card {
		font-size: 1.4rem;
	}

	.cta--banner {
		margin-top: 3rem;
		width: 40rem;
		height: 10rem;
		padding: 1.2rem 5rem;
	}

	.cta--banner--text {
		color: #303030;
		font-size: 1.8rem;
		font-weight: 400;
		width: 22rem;
	}

	.btn--full {
		padding: 1.4rem 2rem;
		font-size: 1.4rem;
	}

	footer {
		padding: 5rem 4rem 2rem 4rem;
	}

	.footer--content--text {
		width: 30rem;
		font-size: 1.2rem;
		line-height: 2rem;
		margin: 8px 0;
	}

	.social--icons {
		width: 12rem;
	}

	.social--icons img {
		width: 3.2rem;
	}

	h5 {
		font-size: 1.4rem;
	}

	footer ul li a {
		font-size: 1.2rem;
	}

	footer ul li {
		font-size: 1.2rem;
	}

	.copyright {
		font-size: 1.2rem;
		margin: 1rem 0 0;
	}

	.footer--content--cards {
		width: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.header--nav a {
		font-size: 1.4rem;
		height: 60px;
	}

	.header--nav--list {
		position: fixed;
		left: -100%;
		top: 0;
		flex-direction: column;
		background-color: #fbfbfb;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		z-index: 100;
		height: 100%;
	}

	.btn {
		color: #ff6634;
		border: none;
		background-color: transparent;
	}

	.btn--full {
		padding: 1.4rem 2.4rem;
		font-size: 1.4rem;
	}

	.header--nav--list.active {
		left: 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
		z-index: 200;
		position: fixed;
		left: 90%;
		/* box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04); */
	}

	.bar {
		box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.04);
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	h1 {
		font-size: 3rem;
	}

	h2 {
		font-size: 2rem;
	}

	.input--div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 0;
	}

	.input--field {
		width: 100%;
		/* height: 20px; */
		padding: 1.6rem;
	}

	.reviews--cards {
		width: 80%;
	}

	.review--card {
		width: 45%;
	}

	.subscribe {
		padding: 4rem 4rem;
	}
	.subscribe--content {
		width: 100%;
	}

	.subscribe--text {
		width: 90%;
	}

	.input--subscribe {
		width: 90%;
	}

	.subscribe img {
		display: none;
	}

	.advert {
		padding: 3rem 3rem;
	}

	.advert--group {
		width: 95%;
		height: 30vh;
	}

	.advert--card {
		font-size: 1.2rem;
	}

	.cta--banner {
		margin-top: 1rem;
		width: 75%;
		height: auto;
		padding: 2rem 6rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.btn--create-account {
		padding: 1.4rem 2.4rem;
	}
}

@media only screen and (max-width: 435px) {
	.header--nav {
		padding: 0 2rem;
	}

	.hamburger {
		left: 85%;
	}

	h1 {
		font-size: 3rem;
	}

	.hero {
		padding: 0 4rem;
		display: flex;
		/* justify-content: center; */
		align-items: center;
		margin-top: -6rem;
	}

	h3 {
		margin: 1.2rem 0;
		font-size: 1.4rem;
	}

	.input--div {
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 30rem;
	}

	.input--field {
		width: 30rem;
		/* height: 50px; */
		padding: 1.6rem;
	}

	::placeholder {
		color: #dedede;
		font-size: 1.4rem;
	}

	.btn--full {
		padding: 1rem 2.4rem;
		font-size: 1.2rem;
	}

	.btn--search {
		margin-left: -10rem;
	}

	.hero--content--text p {
		font-size: 1.6rem;
		font-weight: 400;
		color: #747474;
		margin: 0;
	}

	.reviews {
		/* padding: 3rem 2rem; */
	}

	.reviews--cards {
		width: 80%;
	}

	.review--card {
		width: 85%;
	}

	.reviews--heading p {
		text-align: center;
	}

	.reviews--cards {
		flex-direction: column;
	}

	.subscribe {
		padding: 4rem 4rem;
		/* padding: 0; */
	}

	.subscribe img {
		display: none;
	}

	.subscribe--content {
		/* width: 58rem; */
		width: 100%;
	}

	.subscribe--text {
		width: 100%;
	}

	.input--subscribe {
		display: flex;
		flex-direction: column;
	}

	.input--email {
		width: 90%;
	}

	.btn--submit {
		width: 10rem;
	}

	.companies img {
		width: 6rem;
	}

	.advert {
		background-color: #ffffff;
		padding: 0rem 4rem;
	}

	.advert--group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 95%;
		height: auto;
		padding: 0;
	}

	.advert {
		padding: 4rem 4rem;
	}

	.advert--card {
		width: 100%;
		height: 22rem;
		font-size: 1.4rem;
		margin: 3rem 0 3rem;
	}

	.cta--banner {
		margin-top: 1rem;
		width: auto;
		height: auto;
		padding: 2rem 4rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.cta--banner--text {
		color: #303030;
		font-size: 2rem;
		font-weight: 400;
		width: auto;
		margin-bottom: 2rem;
		font-size: 1.6rem;
	}

	footer {
		padding: 3rem 4rem 2rem 4rem;
		display: flex;
		flex-direction: column;
	}

	.footer--main {
		display: flex;
		flex-direction: column;
	}

	.social--icons {
		width: 12rem;
	}

	/* .social--icons img {
		width: 3.2rem;
	} */

	.footer--content--cards {
		width: 100%;
	}

	.copyright {
		margin: 2.5rem 0 0;
	}
}
